* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.question-container {
  width: 800px;
  height: auto;
  background-color: #fff;
  display: flex;
  padding: 20px;
  border-radius: 5px;
}
.left-side {
  flex: 1;
}
.right-side {
  flex: 2;
}
.question-wrap {
  width: 100%;
  height: auto;
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 19px 0px;
  margin-bottom: 15px;
}
.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 19px;
  font-weight: 500;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.icon {
  font-size: 20px;
  color: green;
}
.answer{
    color: gray;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 400;
}
